// Plano de fundo

$background-primary: #0d1116;

//Cores
$primary-color: #161b22;
$blue-color: #864cf0;


// borda

$border: #30363d 1px solid;

// cores de texto

$secundary-text-color: #e1e1e1;
$thirth-text-color: #f3f3f3;
$text-opacity: 0.7;

//Paddin de distancia

$margin-from-top: 230px;