@import './help', './varriaveis';

body{
    height: 100vh;
    width: 100%;
    background-color: $background-primary;

    .content{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .bolinha{
            height: 60px;
            width: 60px;
            border-radius: 100px;
            background-color: #0f9c05;
        }

        .motion-path-demo{
            width: 200px;
        }
    }

    .star{
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-image: radial-gradient(#fff, transparent);
        backdrop-filter: blur(2px);
        box-shadow: (0px 0px 25px #fff );
        margin: 25px auto;
        position: absolute;
    }

    // .star::after{
    //     content: "";
    //     width: 2px;
    //     height: 30px;
    //     border-radius: 50px;
    //     background-image: radial-gradient(#fff 15%, transparent);
    //     backdrop-filter: blur(1px);
    //     box-shadow: (0px 0px 12px #fff );
    //     margin: 25px auto;
    //     position: absolute;
    //     filter: blur(2px);
    //     top: -33px;
    //     left: 2px;
    // }
    // .star::before{
    //     content: "";
    //     width: 2px;
    //     height: 20px;
    //     border-radius: 50px;
    //     background-image: radial-gradient(#fff 15%,transparent);
    //     backdrop-filter: blur(1px);
    //     box-shadow: 0 0 12px #fff;
    //     margin: 25px auto;
    //     position: absolute;
    //     filter: blur(2px);
    //     rotate: 90deg;
    //     top: -29px;
    //     left: 4px;
    // }
}