@import './help', './varriaveis';
@import "../../node_modules/hover.css/scss/options";
@import "../../node_modules/hover.css/scss/mixins";
@import "../../node_modules/hover.css/scss/hacks";


body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $background-primary;
    // overflow: hidden;

    .main {
        width: 100%;
        max-width: 1154px;
        position: relative;

        .nav-content {
            padding-top: 65px;
            justify-content: space-between;

            nav {
                ul {
                    align-items: center;
                    margin-left: 30px;
                    gap: 38px;

                    li {
                        list-style: none;
                        font-weight: 500;
                        cursor: pointer;
                        padding: 15px 0;
                    }
                }
            }

            .download-content {
                align-items: center;
            }
        }

        .sobre-mim {
            margin-top: 120px;
            padding-left: 135px;
            width: 100%;
            max-width: 50%;
            position: relative;

            .main-text{
                font-size: 2.5em;
                h1 {
                    font-weight: bold;
                }
            }

            p {
                font-size: 1.5em;
                margin: 15px 0 30px 0;
                line-height: 30px;
                color: $secundary-text-color;
            }
        }

        .skills{
            margin-top: $margin-from-top;
            flex-direction: column;

            &-dicrible{
                padding-left: 45px;
            }

            &-text{
                padding-left: 25px;
                
                h2{
                    font-size: 1.6em;
                    font-weight: 400;
                }

                p{
                    font-size: 1.7em;
                    font-weight: 500;
                    line-height: 30px;
                    max-width: 70%;
                    padding-top: 15px;
                }
            }

            

            &-icon{
                justify-content: center;
                flex-wrap: wrap;
                
                &::after{
                    content: "";
                    display: block;
                    height: 200px;
                    width: 3px;
                    background-image: linear-gradient(to bottom,#864cf0,#161b2200);
                    z-index: -1;
                }
            }

            &-hate-content{
                width: 100%;
                flex-wrap: wrap;
                background-color: $primary-color;
                padding: 20px;
                justify-content: flex-start;
                gap: 22px;
                border-radius: 7px;
                margin: -50px 0 150px 0;
                box-shadow: -1px 3px 19px 11px #070707bf;
            }

            &-hating{
                padding: 15px;
                gap: 20px;
                border-radius: 7px;
                border: $border;flex-direction: column;
            }

            &-value{
                flex-direction: column;
                gap: 10px;

                flex-wrap: nowrap;

                .bar{
                    width: 100%;
                    background-color: #fff;
                    height: 2px;
                    position: relative;

                    .bar-value{
                        content: "";
                        height: 2px;
                        background-color: #864cf0;
                        position: absolute;
                    }
                }
            }
            
        }
    }

    // Classes gerais

    .primary-button,
    .sencundary-button {
        padding: 14px;
        background-color: $blue-color;
        font-weight: bold;
        border-radius: 7px;
        border: none;
        cursor: pointer;
    }

    .sencundary-button {
        background-color: rgba($color: #fff, $alpha: 0);
        border: 1px solid $blue-color;
    }

    @import "../../node_modules/hover.css/scss/effects/2d-transitions/bob";

    @if $includeClasses {
        .#{$nameSpace}-bob {
            @include bob();
        }
    }

    @import "../../node_modules/hover.css/scss/effects/background-transitions/bounce-to-right";

    @if $includeClasses {
        .#{$nameSpace}-bounce-to-right {
            @include bounce-to-right();
        }
    }

    @import "../../node_modules/hover.css/scss/effects/border-transitions/underline-from-center";
    @if $includeClasses {
        .#{$nameSpace}-underline-from-center {
            @include underline-from-center();
        }
    }


    .background,
    .planta-01,
    .planta-02,
    .astronauta,
    .pedra-01,
    .pedra-02,
    .pedra-03 {
        position: absolute;
    }


    .background {
        top: -100px;
        height: 100vh;
        width: 100%;
        background-image: url("/assets/image/background.png");
        background-size: cover;
        background-position: center;
        z-index: -2;
    }

    .background-content-rock{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }

    .planta-01 {
        top: -54px;
        left: -412px;
        z-index: -1;
        img{
            display: block;
            width: 52vw;
        }
    }

    .planta-02 {
        top: 96px;
        right: 1vw;
        z-index: -1;
    }

    .pedra-01 {
        top: 467px;
        left: 1325px;
    }

    .pedra-02 {
        top: 159px;
        left: 1002px;
        z-index: -1;
    }

    .pedra-03 {
        top: 96px;
        left: 1297px;

        img {
            rotate: 30deg;
        }
    }

    .astronauta {
        top: 215px;
        right: 15%;
    }

    .star {
        width: 1px;
        height: 1px;
        border-radius: 50px;
        background-image: radial-gradient(#fff, transparent);
        backdrop-filter: blur(2px);
        box-shadow: (0px 0px 25px #fff);
        margin: 25px auto;
        position: absolute;
    }

    i{
        fill: #fff;
        font-size: 27px;
        box-shadow: inset 0 0 10px $blue-color, 0 0 23px $blue-color;
        margin-bottom: 5px;
        
    }
}