@import './help', './varriaveis';


body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $background-primary;


    .background {
        position: absolute;
        top: -100px;
        height: 100vh;
        width: 100%;
        background-image: url("/assets/image/planet.jpg");
        background-size: cover;
        background-position: center;
        opacity: 1;
        transform: rotate(180deg);
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
        mask-image: linear-gradient(to bottom, transparent, black);
        z-index: -1;
    }

    header{
        justify-content: center;
        background-color: #0a0c14;
        box-shadow: 0px 5px 5px #05060a;
        position: fixed;
        width: 100%;


        .nav-content {
            padding: 20px;
            justify-content: space-between;
            width: 100%;
            max-width: 1300px;
            
    
            .logo {
                font-size: 0.9em;
                font-weight: bolder;
                text-transform: uppercase;
            }
    
            nav {
                flex-direction: row;
                gap: 2em;

                ul {
                    flex-direction: row;
                    gap: 2em;
                    font-size: 0.9em;

                    li{
                        list-style: none;
                        cursor: pointer;
                    }
                }

                button{
                    background-color: rgba($color: #fff, $alpha: 0.0);
                    border:#fff 1px solid;
                    border-radius: 4px;
                    padding: 13px;
                    font-size: 0.9em;
                    cursor: pointer;
                }
    
            }
        }
    }

    section {
        height:100vh;
    }
}